.dark-medium-contrast {
  --md-sys-color-primary: rgb(232 200 112);
  --md-sys-color-surface-tint: rgb(228 195 108);
  --md-sys-color-on-primary: rgb(30 21 0);
  --md-sys-color-primary-container: rgb(170 142 61);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(251 192 116);
  --md-sys-color-on-secondary: rgb(35 19 0);
  --md-sys-color-secondary-container: rgb(187 135 65);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(216 205 117);
  --md-sys-color-on-tertiary: rgb(26 23 0);
  --md-sys-color-tertiary-container: rgb(156 146 66);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(22 19 11);
  --md-sys-color-on-background: rgb(234 225 212);
  --md-sys-color-surface: rgb(22 19 11);
  --md-sys-color-on-surface: rgb(255 250 246);
  --md-sys-color-surface-variant: rgb(76 70 57);
  --md-sys-color-on-surface-variant: rgb(211 202 184);
  --md-sys-color-outline: rgb(171 162 145);
  --md-sys-color-outline-variant: rgb(138 130 115);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(234 225 212);
  --md-sys-color-inverse-on-surface: rgb(46 42 33);
  --md-sys-color-inverse-primary: rgb(89 69 0);
  --md-sys-color-primary-fixed: rgb(255 224 142);
  --md-sys-color-on-primary-fixed: rgb(23 16 0);
  --md-sys-color-primary-fixed-dim: rgb(228 195 108);
  --md-sys-color-on-primary-fixed-variant: rgb(68 52 0);
  --md-sys-color-secondary-fixed: rgb(255 221 182);
  --md-sys-color-on-secondary-fixed: rgb(28 14 0);
  --md-sys-color-secondary-fixed-dim: rgb(247 188 112);
  --md-sys-color-on-secondary-fixed-variant: rgb(78 48 0);
  --md-sys-color-tertiary-fixed: rgb(240 229 139);
  --md-sys-color-on-tertiary-fixed: rgb(20 17 0);
  --md-sys-color-tertiary-fixed-dim: rgb(212 201 114);
  --md-sys-color-on-tertiary-fixed-variant: rgb(60 55 0);
  --md-sys-color-surface-dim: rgb(22 19 11);
  --md-sys-color-surface-bright: rgb(61 57 47);
  --md-sys-color-surface-container-lowest: rgb(17 14 7);
  --md-sys-color-surface-container-low: rgb(31 27 19);
  --md-sys-color-surface-container: rgb(35 31 23);
  --md-sys-color-surface-container-high: rgb(46 42 33);
  --md-sys-color-surface-container-highest: rgb(57 52 43);
}
